/* 임시 작성 */
@font-face {
    font-family: "PFStardust";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "PFStardust";
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    text-align: center;
}
/* 
author: 황서진
*/
div#startPage{
    position: relative; /*date: 2023-05-28 수정되었습니다.*/
    margin: 0 auto;
    background-color: white;
    width: 1280px;
    height: 920px;
}
div#opening{
    margin: 0 auto;
    background-color: white;
    display: none;
    width: 1280px;
    height: 920px;
}
div#content{
    margin: 0 auto;
    display: none;
    width: 1280px;
    height: 920px;
}
div#gameOver{
    margin: 0 auto;
    background-color: white;
    display: none;
    width: 1280px;
    height: 920px;
}
div#gameClear{
    margin: 0 auto;
    background-color: white;
    display: none;
    width: 1280px;
    height: 920px;
}
#introducePage{
    display: none;
    position: absolute;
    width: 400px;
    height: 800px;
    top: 15%;
    left: 35%;
}
/* changed */

/*
Author: 황서진
Date: 2023-05-28
*/
#settingDiv{
    display:none;
    position: absolute;
    width: 400px;
    height: 800px;
    top: 15%;
    left: 35%;
    background-color: lightblue; /*임시 설정입니다.*/
}
/* changed */

div#top {
    position: relative;
    width: 1280px;
    height: 100px;
    background-color: black;
    margin: 0 auto;
    line-height: 100px;
    color: aliceblue;
    font-size: 32px;
}

canvas {
    background-color: white;
}

div#bottom {
    width: 1280px;
    height: 80px;
    background-color: black;
    margin: 0 auto;
}

.title {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}

div#top #left {
    position: absolute;
    top: 0px;
    left: 70px;
    height: 50px;
    line-height: 50px;
}

div#top #middle {
    padding: 0 auto;
    height: 50px;
    line-height: 50px;
}

div#top #right {
    position: absolute;
    top: 0px;
    right: 70px;
    height: 50px;
    line-height: 50px;
}
